{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'js/firebase.js' %}"></script>
    <script type='text/javascript'
        src='https://cdn.firebase.com/js/simple-login/1.6.2/firebase-simple-login.js'>
    </script>
    <link rel="stylesheet" type="text/css" href="{% block css %} {% endblock %}">
    <title>Put Data In Its Place</title>
</head>
<body>
<h1>CROnut</h1>

{% block content %}

{% endblock %}
</body>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</html>